{
	email {$ACME_EMAIL}
}

*.{$DOMAIN} {
	tls {
		dns cloudflare {env.CLOUDFLARE_API_TOKEN}
		resolvers nina.ns.cloudflare.com randy.ns.cloudflare.com
		propagation_delay 60s
	}

	@vault host vault.{$DOMAIN}
	handle @vault {
		reverse_proxy vaultwarden:80
	}

	@music host music.{$DOMAIN}
	handle @music {
		reverse_proxy navidrome:4533
	}

	@money host money.{$DOMAIN}
	handle @money {
		reverse_proxy ihatemoney:8000
	}

	@watch host watch.{$DOMAIN}
	handle @watch {
		reverse_proxy jellyfin:8096
	}

	@request host request.{$DOMAIN}
	handle @request {
		reverse_proxy jellyseerr:5055
	}

	@sonarr host sonarr.{$DOMAIN}
	handle @sonarr {
		reverse_proxy sonarr:8989
	}

	@radarr host radarr.{$DOMAIN}
	handle @radarr {
		reverse_proxy radarr:7878
	}

	@download host download.{$DOMAIN}
	handle @download {
		reverse_proxy qbittorrent:8080
	}

	@prowlarr host prowlarr.{$DOMAIN}
	handle @prowlarr {
		reverse_proxy prowlarr:9696
	}

	@home host home.{$DOMAIN}
	handle @home {
		reverse_proxy homepage:3000
	}

	handle {
		abort
	}
}
