{
	email {$ACME_EMAIL}
}

*.{$DOMAIN} {
	tls {
		dns cloudflare {env.CLOUDFLARE_API_TOKEN}
		resolvers nina.ns.cloudflare.com randy.ns.cloudflare.com
		propagation_delay 60s
	}

	@vault host vault.{$DOMAIN}
	handle @vault {
		reverse_proxy vaultwarden:80
	}

	@music host music.{$DOMAIN}
	handle @music {
		reverse_proxy navidrome:4533
	}

	@money host money.{$DOMAIN}
	handle @money {
		reverse_proxy ihatemoney:8000
	}

	@contacts host contacts.{$DOMAIN}
	handle @contacts {
		reverse_proxy radicale:5232
	}

	@notes host notes.{$DOMAIN}
	handle @notes {
		reverse_proxy silverbullet:3000
	}

	@webdav host webdav.{$DOMAIN}
	handle @webdav {
		reverse_proxy webdav:6065
	}

	@photos host photos.{$DOMAIN}
	handle @photos {
		reverse_proxy immich-server:2283
	}

	@share host share.{$DOMAIN}
	handle @share {
		reverse_proxy immich-public-proxy:3000
	}

	@home host home.{$DOMAIN}
	handle @home {
		reverse_proxy homepage:3000
	}

	@agent host agent.{$DOMAIN}
	handle @agent {
		reverse_proxy agent:9119
	}

	@hort host hort.{$DOMAIN}
	handle @hort {
		reverse_proxy hort:80
	}

	@mqtt host mqtt.{$DOMAIN}
	handle @mqtt {
		reverse_proxy mosquitto:9001
	}

	@esphome host esphome.{$DOMAIN}
	handle @esphome {
		reverse_proxy esphome:6052
	}

	handle {
		abort
	}
}
