services:
  navidrome:
    image: deluan/navidrome:latest@sha256:b727edf8e091ad84106218dbd3517772cff9803bf67bbedb934f8a0c26cec495
    container_name: navidrome
    restart: unless-stopped
    environment:
      - ND_SCANSCHEDULE=1h
      - ND_LOGLEVEL=info
      - TZ=${TIMEZONE}
    volumes:
      - navidrome_data:/data
      - nas_music:/music:ro
    networks:
      - proxy_net

volumes:
  navidrome_data:
  nas_music:
    driver: local
    driver_opts:
      type: cifs
      device: //${NAS_IP}/${NAS_MUSIC_SHARE}
      o: addr=${NAS_IP},username=${NAS_MUSIC_USER},password=${NAS_MUSIC_PASSWORD},file_mode=0644,dir_mode=0755

networks:
  proxy_net:
    external: true
