services:
  jellyfin:
    image: jellyfin/jellyfin:latest
    container_name: jellyfin
    restart: unless-stopped
    environment:
      - TZ=${TIMEZONE}
    healthcheck:
      test: ["CMD", "wget", "--spider", "-q", "http://localhost:8096/health"]
      interval: 60s
      timeout: 10s
      retries: 3
      start_period: 30s
    volumes:
      - jellyfin_config:/config
      - nas_media:/media:ro
    networks:
      - proxy_net

  navidrome:
    image: deluan/navidrome:latest@sha256:b727edf8e091ad84106218dbd3517772cff9803bf67bbedb934f8a0c26cec495
    container_name: navidrome
    restart: unless-stopped
    environment:
      - ND_SCANSCHEDULE=1h
      - ND_LOGLEVEL=info
      - ND_MUSICFOLDER=/media/music
      - TZ=${TIMEZONE}
    healthcheck:
      test: ["CMD", "wget", "--spider", "-q", "http://localhost:4533"]
      interval: 60s
      timeout: 10s
      retries: 3
      start_period: 15s
    volumes:
      - navidrome_data:/data
      - nas_media:/media:ro
    networks:
      - proxy_net

volumes:
  jellyfin_config:
  navidrome_data:
  nas_media:
    driver: local
    driver_opts:
      type: cifs
      device: //${NAS_IP}/${NAS_MEDIA_SHARE}
      o: addr=${NAS_IP},username=${NAS_MEDIA_USER},password=${NAS_MEDIA_PASSWORD},file_mode=0664,dir_mode=0775

networks:
  proxy_net:
    external: true
