services:
  jellyfin:
    image: jellyfin/jellyfin:latest
    container_name: jellyfin
    restart: unless-stopped
    environment:
      - TZ=${TIMEZONE}
    volumes:
      - jellyfin_config:/config
      - nas_media:/media:ro
    networks:
      - proxy_net

volumes:
  jellyfin_config:
  nas_media:
    driver: local
    driver_opts:
      type: cifs
      device: //${NAS_IP}/${NAS_MEDIA_SHARE}
      o: addr=${NAS_IP},username=${NAS_MEDIA_USER},password=${NAS_MEDIA_PASSWORD},file_mode=0664,dir_mode=0775

networks:
  proxy_net:
    external: true
